# Configuración de Conexión a PostgreSQL
# Renombra este archivo a ".env" y llena tus datos reales

DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=5432

# Nombre de la base de datos a utilizar (puedes crear una nueva llamada 'infonavit' 
# o usar 'compita_score' si así lo prefieres)
DB_NAME=infonavit
